{% extends "auctions/layout.html" %}
{% block body %}
    <h1>Listing: {{auction.title}}</h1>
    {% if wishlist %}
    <form action="{% url 'deletewishlist' auction_id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Remove from Wishlist">
    </form>
    {% else %}
    <form action="{% url 'wishlist' auction_id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add to Wishlist">
    </form>
    {% endif %}
    {% if message %}
        <h5>{{message}}</h5>
    {% endif %}

    {% if auction.image %}
        <img src="{{auction.image}}" alt="" width="500px" height="300px">
    {% else %}
        {{empty}}
    {% endif %}

    <p>{{auction.description}}</p>
    <h5>R${{auction.initial_value}}</h5>

    <h5>Place your bid</h5>
    
        {% if antigo_bid %}
            <p>Current Bid: ${{antigo_bid.value}}</p>
        {% else %}
            <p>Try the first Bid</p>
        {% endif %}

    <form action="{% url 'bid' auction_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="auction_id" value="{{auction_id}}">
        <input type="number" name="value" placeholder="value" value="{{atual_bid}}" step="0.01">
        <input type="submit" value="submit">
    </form>

    <h5>Details: </h5>
    <ul>Listed by: {{auction.user}}</ul>
    <ul>Category: {{auction.category}}</ul>
{% endblock %}